img{
    width: 100%;
}
.mgt-5{
    margin-top: 5vw;
}
.mgr-1{
    margin-right: 1vw;
}
p{
    margin: 0;
}
.grid-content{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
    margin-top: 2vw;
}
.mgt-2{
    margin-top: 2vw;
}
span{
    width: 5vw;
    height: 5vw;
    background-color: aqua;
    display: inline-block;
    margin-right: 1vw;
    cursor: pointer;
}
span:hover{
    -webkit-box-shadow: 4px 7px 78px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 78px -8px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 78px -8px rgba(0,0,0,0.75);
}

.active{
    border: 4px solid gold;
    display: inline-block;
}